.custom-frame {
    border: 2px solid #4caf50;
    border-radius: 0px 60px 10px 20px;
    box-shadow: 0 10px 18px rgba(6, 6, 6, 0.1);
  }
 

@keyframes fadeIn {
  0% { opacity: 0.5; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

#discountPrice {
  animation: fadeIn 0.3s ease forwards;
}
